<style>
    body{
        font: 12px Arial;
        background-color: #eee;
    }
    h1{
        text-align: center;
        font-size: 30px;
    }
    form{
        font-family: 'Times New Roman', Times, serif;
        margin: 20px auto;
        background-color: #fff;
        width: 50%;
        box-shadow: #aaa;
        padding: 5px;
    }
    form input text, textarea{
        width: 100px;
    }
    form label{
        width: 150px;
    }
    form input:required:valid{
        border-color: #28921f;
    }
    form input:required:invalid{
        border-color: #b03535;
    }
    ul{
        list-style: none;
    }
</style>